.nav {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -320px;
}

.nav a,
.nav a:hover {
    text-decoration: none;
    color: #333;
}

.nav ol {
    margin: 0 auto;
    width: 640px;
}

.nav li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 10px;
    width: 104px;
    text-align: center;
}

.nav li .cur,
.nav li:hover a {
    display: block;
    color: #444;
    background: #dfdfdf;
    background: -moz-linear-gradient(top,  #dfdfdf 0%, #ececec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(top,  #dfdfdf 0%,#ececec 100%);
    background: -ms-linear-gradient(top,  #dfdfdf 0%,#ececec 100%);
    background: linear-gradient(to bottom,  #dfdfdf 0%,#ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#ececec',GradientType=0 );
    border-bottom: solid 1px #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 1px rgba(0,0,0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 #FFF;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 1.6em;
    -moz-border-radius: 1.6em;
}

.nav li:hover a {
    font-weight: normal;
}

.nav li:hover .cur {
    font-weight: bold;
}